
.trendListRow {
    border: 1px solid #ccc;
    background-color: #FFF;
}

.trendRank {
    padding: 0px 10px;
}

.trendName {
    color: blue;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.trendVolume {
    text-align: center;
}

.twitterTable {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid gainsboro;
}

.th {
    text-align: left;
    padding: 8px;
}

.trendListRow:nth-child(even) {
    background-color: rgb(230, 227, 227);
}

.twitterFooterNote {
    text-align: initial;
    border: 1px solid;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.locationInput {
    height: 2rem;
    padding: 0px 10px;
    font-size: large;
    border-radius: 0.4rem;
    margin: 10px;
}

.countryFilterWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.countryFilterItem {
    padding: 8px;
    margin: 0.4rem 0.8rem 0.6rem 0;
    background-color: #f8eded;
    color: #2e2e2e;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.countryFilterItem:hover {
    background-color: #0070f3;
    color: white;
}

@media (max-width: 600px) {
    .locationInput {
        margin: 10px 0;
    }

    .subTitle {
        font-size: 1rem;
        margin: 0;
    }
}